.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#interface{
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
}